venv
.idea
__pycache__
*/__pycache__
*/*/__pycache__
*.pyc
.DS_store
docs/source/_build
/build
/dist
/src/vfb_connect.egg-info
/image_folder_tmp
/src/vfb_connect.egg-info
/src/vfb_connect.egg-info/*
.venv
venv_py310