requests
psycopg2
pandas==1.5.3
pandasql
jsonpath_rw
setuptools~=50.3.2
jupyter
nbsphinx
matplotlib
sphinx-autodoc-typehints
docutils
myst-parser
sphinx_rtd_theme
neuprint-python
pysolr
nbformat>=4.2.0
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
