requests
psycopg2
pandas
pandasql
jsonpath_rw
setuptools~=65.5.1
jupyter
nbsphinx
matplotlib
sphinx-autodoc-typehints
docutils
myst-parser
sphinx_rtd_theme

numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-server>=2.11.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
